body {
  height: 10000px;
  margin: 0;
  padding: 0;
  background-color: black;
	font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.stars {
  background: black url("./images/stars.png") repeat;
  width: 100%;
  height: 10000px;
  z-index: -1;
}

.twinkling {
  width: 100%;
  height: 10000px;
  background: transparent url("./images/twinkling.png") repeat;
  background-size: 1000px 1000px;
  z-index: -1;
}

.clouds {
  width: 100%;
  height: 10000px;
  background: transparent url("./images/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  z-index: 4;
}

.moon-div {
  z-index: 3;
}

.moon {
	padding: 20px;
  width: 50%;
	transition: opacity 1.5s ease-in-out;
	opacity: 0;
  }
	.neil{
	left: 50%;
  width: 50%;
	opacity: .7;
  z-index: 7;
	filter: grayscale(.5);
  }
.neil-text{
    background: white;
    text-align: center;
    margin: 20px;
    font-size: 24px;
    font-weight: 300;
    color: black;
		z-index: 5;
    padding: 20px;
	}
.neil-text ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
  }
.neil-text ul li{
  text-decoration: none;
  background: black;
  margin: 10px;
  width: 50%;
  padding: 20px;
  border-radius: 4px;
}
a{
  text-decoration: none;
  color: white;
}

svg{
		padding-top: 30px;
		padding-bottom: 50px;
		width: 75px;
		animation: bounce 3s infinite;
	}
	.arrow{
		padding-top: 30px;
		padding-bottom: 30px;
	  fill: white;
	}
	.bouncing-arrow{
		left: 50%;
		transform: translateX(-50%);
		z-index: 6;
		transition: opacity 1.5s ease-in-out;
		opacity: 0;
	}
	.welcome-message {
		color: white;
		z-index: 6;
		text-align: center;
		transform: translateY(-50%);
		width: 100%;
		transition: opacity 1.5s ease-in-out;
		opacity: 0;
		font-size: 80px;
		font-weight: 300;
	}
	.revealed {
		opacity: 1;
	}

	@-webkit-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
	   -webkit-transform: translateY(0);
	  }
	  40% {-webkit-transform: translateY(-30px);
	  }
		60% {
	    -webkit-transform: translateY(-15px);
	  }
	}

	@-moz-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			-moz-transform: translateY(0);
		}
		40% {
			-moz-transform: translateY(-30px);
		}
		60% {
			-moz-transform: translateY(-15px);
		}
	}

	@-o-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			-o-transform: translateY(0);
		}
		40% {
			-o-transform: translateY(-30px);
		}
		60% {
			-o-transform: translateY(-15px);
		}
	}
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			transform: translateY(0);
		}
		40% {
			transform: translateY(-30px);
		}
		60% {
			transform: translateY(-15px);
		}
	}
